doctype
html
	head
		block head
			base(href=`file:///${self.rootDir}/doc/`)
			meta(charset="utf-8")
			meta(name="viewport" content="initial-scale=1, width=device-width")
			//- meta(name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no")
			link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons")
			link(rel='stylesheet' href=`../build/core-ui.${self.PKG.version}.css`)
			script(src=`../build/core-ui.${self.PKG.version}.js`)

			//- SEO
			//- link(rel="shortcut icon" href="/favicon.ico")
			//- canonical URL
			//- link(rel='canonical' href='http://example.com/path/to/page')

	body
		//- links
		table(cellspacing=0 cellpadding=0 border=0)
			tbody
				tr
					td.v-top.list
						each lnk in self.links
							a.block(href=lnk) #{lnk}
					td.v-top
						block body