extends ../_layout
append head
	title Colors
block body
	//- colors
	-var colors= 'red pink purple deep-purple indigo blue light-blue cyan teal green light-green lime yellow amber orange deep-orange'.split(' ');
	-var colors2= 'brown grey blue-grey'.split(' ');
	-var steps	= 'lighten5,lighten4,lighten3,lighten2,lighten1,,darken1,darken2,darken3,darken4,darken5,accent1,accent2,accent3,accent4'.split(',')
	-var steps2	= 'lighten5,lighten4,lighten3,lighten2,lighten1,,darken1,darken2,darken3,darken4,darken5'.split(',')
	.container
		h1 Colors:

		h2 Text colors:
		.row
			each color in colors
				.col.sm4.md3
					each step in steps
						p(class=`text-${color} ${step}`) Lorem ipsum dolor sit amet
			each color in colors2
				.col.sm4.md3
					each step in steps2
						p(class=`text-${color} ${step}`) Lorem ipsum dolor sit amet

		h2 Backgrounds:
		.row
			each color in colors
				.col.sm4.md3
					each step in steps
						p.padding(class= `${color} ${step}`) Lorem ipsum dolor sit amet
			each color in colors2
				.col.sm4.md3
					each step in steps2
						p.padding(class= `${color} ${step}`) Lorem ipsum dolor sit amet
			//- black white
			.col.sm4.md3
				p.padding.white Lorem ipsum dolor sit amet
				p.padding.black Lorem ipsum dolor sit amet