extends ../_layout
append head
	title File upload
block body
	form.container
		h1 File upload

		h2 Basic use
		pre.select
			code.html
				:text
					<div class="f-cntrl">
						<input type="file" name="files" class="h">
						<span class="btn" d-click="file-upload" fileUploader="files">Upload file</span>
					</div>

		h2 Add file preview
		p File preview must be inside the some ".f-cntrl" as the input
		pre.select
			code.html
				:text
					<div class="f-cntrl">
						<input type="file" name="files" class="h">
						<span class="btn" d-click="file-upload" fileUploader="files">Upload file</span>
						<div class=".files-preview"></div>
					</div>

		h2 File attribute options

		ul
			li [multiple]: Enable to select multiple files
			li [accept]: Accepted file extensions or Mimetypes separated with commas
				p.small Example: accept=".doc, .pdf, image/*"
			li [capture]: Sources to use for capturing image or video 
				ul
					li user: use device facing camera
					li camera: use device back camera

		h2 Validators
		ul
			li [v-max]: Max files count to select, @default Infinity
			li [v-min]: Min files count to select, @default 0
			li [v-max-bytes]: Maximum total bytes, @default Infinity
			li [v-min-bytes]: Minimum total bytes, @default 0

		pre.select
			code.html
				:text
					<form>
						<div class="f-cntrl">
							<input type="file" name="myFiles" class="hidden" multiple v-max="6">
							<span class="btn" d-click="file-upload" fileUploader="myFiles">
							<div class="alert danger when-error">Please select less then 6 files</div>
						</div>
					</form>


		h2 Set custom preview
		p By default, the API will look for a function called "core.filePreview". It's recommanded that you redefine this function.
		p to set an other function for an input file, add the attribute "d-preview"
		pre.select
			code.coffeescript
				:text
					# OPTION 1: return an HTML
					core.myRenderFx= (file)->
						return "<div>#{file.name}</div>"

					# OPTION 2: Return an HTML element
					core.myRenderFx2= (file)->
						dv= document.createElement('div')
						dv.innerText= file.name
						return dv
		pre.select
			code.html
				:text
					<form>
						<div class="f-cntrl">
							<input type="file" name="myFiles" class="hidden" d-preview="myRenderFx" multiple>
							<span class="btn" d-click="file-upload" fileUploader="myFiles">
						</div>
					</form>

	//- Scripts
	script hljs.initHighlightingOnLoad();